
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
 body {
    height: 100%;
}
body {
    
    overflow: hidden;
}

a {
    color: white;
}


.rocknroll-one-regular {
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}

.logo-div {
    width: 30%;
    background: url(./img/aurora.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
   
    padding-top: 100px;
    position: relative;

   
    
}

.form-div {
    width: 70%;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.logo-wrapper {
    height: 20%;
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, .6);
    padding-top: 3px;
    width: 100%;
   
   
   

}



.logo-wrapper p {
    font-size: 4.2rem;
    font-family: "RocknRoll One", sans-serif;
    color: white;
     
}

.contribution {
  margin-top: 62vh;
    width: 100%;
    
}


.contribution p {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    
}
.caption {
    width: 65%;
   
    padding-left: 50px;
    padding-top: 70px;
   
    
  

}

.caption p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: justify;
    
}

form {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    position: relative;
    padding-right: 280px;
    

}


input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
}

.form-wrapper {
    background-color: white;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
    box-shadow: 2px 1px 10px rgb(46, 45, 45);
    width: 1350px;
    
   
   
}

.first-eye {
    position: absolute;
    left: 178px;
    top: 225px;
    color: gray;
    
}

.second-eye {
    position: absolute;
    color: gray;
    top: 225px;
    left: 565px;
   
}




.form-caption {
    width: 100%;
}

.form-name,
.form-surname,
.email,
.phone,
.password-1,
.password-2 {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.error {
    width: 35%;
    position: absolute;
    top: 271px;
    
}

.error p {
    font-size: 1rem;
    position: relative;
    bottom: 25px;
    color: red;
    font-weight: 500;
 }

.form-submission {
    width: 800px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 10px;
}

.account-creation {
    background-color: #49273F;
    color: white;
    width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
 

}

.form-submission p {
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: 300;
}

.form-submission p > a {
    color: #49273F;
    font-weight: bold;
    text-decoration: none;
}


.footer {
    width: 400px;
    font-size: 1.3rem;
    display: flex;
   margin-top: 20px;
  position: relative;
left: 257px;
 
   
}

.fa-github {
    transition: transform .5s ease-in-out;
    font-size: 2.3rem; 
    margin-left: 12px; 
    margin-top: 19px;
    color: black;
    position: relative;
    bottom: 28px;
    left: 1px;
}

.fa-github:hover {
    transform: rotate(360deg);
}

/*Validations */

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
 {
border: 2px solid blue;
}

input[type="text"]:valid,
input[type="email"]:valid {
    border: 2px solid green;
 }

 input[type="text"]:invalid,
 input[type="email"]:invalid {
    border: 2px solid red;
 }

 /* Responsiveness */

  


 /*@media (max-width: 1286px) {
    .second-eye {
        left: 505px;
    }

    .footer {
        margin-left: 150px;
    }

    .contribution {
       
        margin-top: 550px;
    }

    .contribution p {
        font-size: 1.3rem;
    }
 }

 @media (max-width: 1024px) {
    .second-eye {
        
    }

    .footer {
        margin-top: 30px;
        margin-left: 128px;

    
    }

    .caption {
        padding-top: 15px;
    }

    .contribution {
       
        margin-top: 530px;
    }

    .contribution p {
        font-size: 1.2rem;
    }
 }

 @media (max-width: 768px) {

    .contribution {
        margin-top: 510px;
    }
 .caption {
    padding-top: 100px;
    
 }

 .caption p {
    font-size: 1.4rem;
 }

 form {
    gap: 40px;
 }

 .first-eye {
    top: 255px;
 }

 .second-eye {

  top: 255px;
 }

 .account-creation {
    width: 150px;
 }

 .form-submission {
    width: 100%;
  margin-left: -20px;
 }

 .form-submission p {
    font-size: 1.3rem;
 }

 .footer {
    margin-top: -5px;
 }


 .logo-wrapper p {
    font-size: 2.5rem;
 }

 .logo-wrapper img {
    width: 30%;
 }
 }


 @media (max-width: 375px) {
.logo-wrapper p {
    font-size: 1.3rem;
}

.logo-wrapper img {
width: 35%;
}

.logo-wrapper {
    gap: 13px;
}

.contribution {
       
   margin-top: 400px;
}

.contribution p {
    font-size: 0.9rem;
}

.caption {
    padding-bottom: 20px;
}

.caption p {
    font-size: 0.8rem;
}

input {
    width: 70px;
}

.fa-solid {
    display: none;
}

form {
    gap: 25px;
}

.password-2,
.phone {
    position: relative;
    bottom: 20px;
}

.account-creation {
    width: 100px;
    height: 30px;
    font-size: 0.7rem;
    margin-right: 20px;
    margin-top: -10px;
}

.form-submission {
    width: 100%;
    justify-content: flex-start;
    position: relative;
    right: 100px;
}
.form-submission p {
    padding-top: 10px;
    font-size: 0.9rem;
   
   
  
   
 
}

.footer {
    font-size: 0.9rem;
    margin-left: 38px;
    margin-top: 20px;
}

.fa-github {
    font-size: 1.9rem;
    margin-left: 6px;
    margin-top: 17px;
}






 } 
*/